<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lynx salesystem</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                    <title>LYNX</title>
                                    <defs>
                                        <radialGradient cy="0%" fx="50%" fy="0%" r="100%" id="logo-gradient">
                                            <stop stop-color="#FFF" offset="0%"/>
                                            <stop stop-color="#FFF" stop-opacity=".24" offset="100%"/>
                                        </radialGradient>
                                    </defs>
                                    <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" fill="url(#logo-gradient)" fill-rule="evenodd"/>
                                </svg>
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0">
                        <li>
                            <a href="login">Login</a>
                        </li>
                        <li>
                            <a class="button button-sm button-shadow" href="register">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">LYNX SALESYSTEM, just for you</h1>
                        <p class="hero-paragraph is-revealing"><i>we value our customers</i></p>
                        <p class="hero-cta is-revealing"><a class="button button-secondary button-shadow" href="register">Sign up to get started now</a></p>
                        <div class="image">
                            <h3>in our system, you can have access to your:</h3>
                        </div>
                    </div>
                </div>
            </section>

            <section class="clients section">
                <div class="container">
                    <div class="clients-inner section-inner has-top-divider">
                        <div class="container-sm">
                            <ul class="list-reset mb-0">

                                <h2>dashboard</h2>
                                <li>                                  
                                    <img src="/static/images/dashboard.jpg" alt="Dashboard">
                                </li>

                                <h2>products</h2>
                                <li>
                                 <img src="/static/images/products.jpg" alt="Product">
                                </li>

                                <h2>stock</h2>
                                <li>
                                 <img src="/static/images/stock.jpg" alt="Stock">
                                </li>
                          
                                <h2>sales</h2>
                                <li>                             
                                 <img src="/static/images/sales.jpg" alt="Sales">
                                </li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        

            <section class="pricing section">
                <div class="container">
                    <div class="pricing-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0 text-center">Pricing</h2>
                        <div class="pricing-tables-wrap">
                            <div class="pricing-table is-revealing">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header">
                                            <div class="pricing-table-title mt-12 mb-16 text-secondary">price monthly</div>
                                            <div class="pricing-table-price mb-24 pb-32"><span class="pricing-table-price-currency h3">$</span><span class="pricing-table-price-amount h1">29</span></div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mb-56">
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>only access the customer side.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>2% discount.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta">
                                        <a class="button button-secondary button-block" href="#">Get started now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-table is-revealing">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header">
                                            <div class="pricing-table-title mt-12 mb-16 text-primary">6 months</div>
                                            <div class="pricing-table-price mb-24 pb-32"><span class="pricing-table-price-currency h3">$</span><span class="pricing-table-price-amount h1">129</span></div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mb-56">
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>5 % discount.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>only access the customer side.</span>
                                            </li>
                                    <div class="pricing-table-cta">
                                        <a class="button button-primary button-block" href="#">Get started now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title>Uridhi</title>
                                <defs>
                                    <radialGradient cy="0%" fx="50%" fy="0%" r="100%" id="logo-gradient-footer">
                                        <stop stop-color="#00A2B8" offset="0%"/>
                                        <stop stop-color="#00F9D2" offset="100%"/>
                                    </radialGradient>
                                </defs>
                                <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" fill="url(#logo-gradient-footer)" fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="https://instagram.com/tony_spirde?igshid=MzNlNGNkZWQ4Mg==">
                                <i class="bx bxl-instagram" aria-hidden="true" style="color: aqua; height: 10px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/TSpirde/photo">
                                <i class="bx bxl-twitter" aria-hidden="true" style="color: aqua; height: 10px;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/antonyndonga123?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B6RiXVObRSS2rxc1GOxQSwQ%3D%3D">
                                <i class="bx bxl-linkedin" aria-hidden="true" style="color: aqua; width: 10px;"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2023 Ndonga, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/static/js/main.min.js"></script>
</body>
</html>