<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Document</title>
</head>
<body>
 
  <style>
.alert {
  padding: 8px;
  border-radius: 0px;
  font-size: 1rem;
  margin-bottom: 8px;
  border-width: 0px;
  border-style: solid;
  text-align: top;
}

.alert-error {
 
  color: rgb(231, 17, 17);
}

.alert-info {
  color: rgb(241, 178, 178);
}
  </style>

{% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}">{{ message }}</div>
{% endfor %}

<div class="container">
  <h2 class="text-center text-dark mt-5">ANTONY MARKET <br> <h4><i>login</i></h4> </h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      
        <div class="card my-2">
        <form
          action="/login" method="post"class="card-body cardbody-color p-lg-5">
          <div class="text-center">
            <img src="../static/images/app-development.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
              alt="profile"/>
          </div>

          <div class="mb-3">
            <label class="form-label" for="form2Example1">Email address:</label>
            <input type="email" class="form-control" name="email" id="id" aria-describedby="emailHelp" placeholder="enter email"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="form2Example2">Password:</label>
            <input type="password" class="form-control" name="password" id="id" placeholder="enter password"/>
          </div>

          <div class="text-centerss">
            <button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button>
          </div>
        </form>

        <div class="card-footer">
          <p>Don't have an account? <a href="/register">Register</a></p>
        </div>

      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/static/js/com.js">
</body>
</html>